<%- include('../partials/head')-%>

<main>
  <section>
    <h1><%=message%></h1>
    <h2><%=error.status%></h2>
    <pre><%=error.stack%></pre>
  </section>
</main>

<%- include('../partials/foot')-%>